/** @format */

.blindbt {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: url('../../assets/images/icon_eye.png') no-repeat;
}
.showbt {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: url('../../assets/images/icon_eye_blind.png') no-repeat;
}

