/** @format */

.blindbt {
  display: block;
  width: 30px;
  height: 30px;
  padding-left: 20px;
  background: url('../../assets/images/icon_eye.png') no-repeat;
}
.showbt {
  display: block;
  width: 30px;
  height: 30px;
  padding-left: 20px;
  background: url('../../assets/images/icon_eye_blind.png') no-repeat;
}

input[type='radio'] {
  /* content: '';
  display: inline-block;

  vertical-align: -6px; */
  content: '';
  width: 24px;
  height: 24px;
  vertical-align: -6px;
  background: url('../../assets/images/icon_radio_on.png') no-repeat center;
}

input[type='radio']:checked + label {
  /* 
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: -6px; */
  /* content: '';
  width: 24px;
  height: 24px;
  vertical-align: -6px; */
  background: url('../../assets/images/icon_radio_on.png') no-repeat center;
}
