/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css");
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "NanumSquareRound", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
